<!-- action buttons -->
<div class="eca-actions">
  <button mat-flat-button color="secondary" (click)="reset()" [disabled]="(!sourceUser) || loading">
    {{'main.resetButton' | translate }}
  </button>
  <button mat-flat-button color="secondary" (click)="compareUserRoles()" [disabled]="(!currentUserEntity || !sourceUser) || loading">
    {{'main.compareButton' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="copyUserRoles()" [disabled]="(!currentUserEntity || !sourceUser) || loading">
    {{'main.copyUserRolesButton' | translate }}
  </button>
</div>
<div *ngIf="checkingUser">
  <mat-card>
    <h1 *ngIf="!permissionError" translate>main.checkingPermissions</h1>
    <mat-card-content>
      <div *ngIf="permissionError">
        <h1 translate>main.userIsNotAllowed</h1>
        <p translate>main.needsAtLeastUserManager</p>
        <pre class="technical-error">{{permissionError}}</pre>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- /action buttons -->
<div *ngIf="!isUserAllowed && !checkingUser">
  <mat-card>
    <h1 translate>main.userIsNotAllowed</h1>
    <mat-card-content>
      <p translate>
        main.userIsNotAllowedInfo
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="isUserAllowed && !checkingUser">
  <!-- target user -->
  <mat-card>
    <h1 translate>main.targetUserTitle</h1>
    <mat-card-content *ngIf='!currentUserEntity'>
      <p translate>
        main.selectTargetUserInfo
      </p>
    </mat-card-content>
    <mat-card-content *ngIf='currentUserEntity'>
      <p translate>main.rolesCopyToTargetInfo</p>
      <p class="username">
        <span class="uxf-icon uxf-user leading-icon"></span> {{currentUserEntity.description}}
      </p>
      <mat-checkbox [(ngModel)]="replaceExistingRoles">{{ 'main.replaceExistingRolesCheckboxLabel' | translate }}</mat-checkbox>
      <mat-expansion-panel class="results-panel"
                           [disabled]="!copyResult && !compareResult"
                           [expanded]="resultsExpanded"
                           (opened)="resultsExpanded = true"
                           (closed)="resultsExpanded = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'main.results.title' | translate }}
          </mat-panel-title>
          <mat-panel-description>
            <p *ngIf="copyResult || compareResult">{{ 'main.results.ready' | translate }}</p>
            <p *ngIf="!copyResult && !compareResult">{{ 'main.results.noneYet' | translate }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="cur-results-content">
          <div *ngIf="copyResult">
            <p>
              {{ 'main.results.copyInfo' | translate }}
            </p>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.invalidRolesTitle' | translate : {count: copyResult.invalidRoles.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of copyResult.invalidRoles">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.validRolesTitle' | translate : {count: copyResult.validRoles.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of copyResult.validRoles">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
          </div>
          <div *ngIf="compareResult">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.intersection' | translate : {count: compareResult.intersection.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of compareResult.intersection">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.onlyInSoure' | translate : {count: compareResult.onlyInSoure.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of compareResult.onlyInSoure">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.onlyInTarget' | translate : {count: compareResult.onlyInTarget.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of compareResult.onlyInTarget">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.sourceDuplicates' | translate : {count: compareResult.sourceDuplicates.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of compareResult.sourceDuplicates">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'main.results.targetDuplicates' | translate : {count: compareResult.targetDuplicates.length} }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngFor="let role of compareResult.targetDuplicates">
                <li>{{role.role_type.desc}} ({{role.role_type.value}}) [scope: {{role.scope.value}}, status: {{role.status.value}}]</li>
              </ul>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
  <!-- /target user -->

  <!-- source user -->
  <mat-card>
    <h1 translate>main.sourcUserTitle</h1>
    <mat-card-content [style.display]="currentUserEntity ? 'none' : 'block'">
      <p translate>
        main.selectTargetFirstInfo
      </p>
    </mat-card-content>
    <mat-card-content [style.display]="!currentUserEntity ? 'none' : 'block'">
      <p class="username" *ngIf="sourceUser" [ngPlural]="sourceUser.user_role?.length">
        <span class="uxf-icon uxf-user leading-icon"></span> {{sourceUser.last_name}}, {{sourceUser.first_name}} - {{sourceUser.user_role?.length}}
        <ng-template ngPluralCase="=1">{{ 'global.role' | translate }}</ng-template>
        <ng-template ngPluralCase="other">{{ 'global.roles' | translate }}</ng-template>
      </p>
      <p class="bold" *ngIf="!sourceUser" translate>
        main.searchUserInfo
      </p>
      <app-role-select
                       [user]="sourceUser"
                       (rolesSelectedOutput)="selectSourceRoles($event)">
      </app-role-select>
      <app-find-user [resetEventObservable$]="resetEventSubject.asObservable()"
                     (selectedUserOutput)="selectSourceUser($event)">
      </app-find-user>

    </mat-card-content>
  </mat-card>
  <!-- /source user -->
</div>

<app-loader [loading]="loading"></app-loader>
