.cur-username {
  font-weight: bold;
  font-size: 18px;
}

.cur-roles-valid {
  padding-left: 20px;
}

.cur-technical-error {
  white-space: pre-line;
}

.cur-results-panel {
  margin-top: 20px;

  mat-expansion-panel {
    margin-bottom: 10px;
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    align-items: center;

    p {
      padding: 0;
      margin: 0;
    }
  }

  ul {
    list-style-type: circle;
    padding-left: 15px;
    margin: 0;

    li {
      margin-bottom: 5px;
      font-family: monospace;
      font-size: 12px;
    }
  }
}
