<!-- action buttons -->
<div class="eca-actions">
  <button mat-flat-button color="secondary" (click)="reset()" [disabled]="(!sourceUser && !searchTerm) || loading">
    {{'main.resetButton' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="copyUserRoles()" [disabled]="(!currentUserEntity || !sourceUser) || loading">
    {{'main.copyUserRolesButton' | translate }}
  </button>
</div>
<div *ngIf="checkingUser">
  <mat-card>
    <h1 *ngIf="!permissionError" translate>main.checkingPermissions</h1>
    <mat-card-content>
      <div *ngIf="permissionError">
        <h1 translate>main.userIsNotAllowed</h1>
        <p translate>main.needsAtLeastUserManager</p>
        <pre class="cur-technical-error">{{permissionError}}</pre>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- /action buttons -->
<div *ngIf="!isUserAllowed && !checkingUser">
  <mat-card>
    <h1 translate>main.userIsNotAllowed</h1>
    <mat-card-content>
      <p translate>
        main.userIsNotAllowedInfo
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="isUserAllowed && !checkingUser">
  <!-- target user -->
  <mat-card>
    <h1 translate>main.targetUserTitle</h1>
    <mat-card-content *ngIf='!currentUserEntity'>
      <p translate>
        main.selectTargetUserInfo
      </p>
    </mat-card-content>
    <mat-card-content *ngIf='currentUserEntity'>
      <p translate>main.rolesCopyToTargetInfo</p>
      <p class="cur-username">
        <span class="uxf-icon uxf-user cur-leading-icon"></span> {{currentUserEntity.description}}
      </p>
      <mat-checkbox [(ngModel)]="replaceExistingRoles">{{ 'main.replaceExistingRolesCheckboxLabel' | translate }}</mat-checkbox>
    </mat-card-content>
  </mat-card>
  <!-- /target user -->

  <!-- source user -->
  <mat-card>
    <h1 translate>main.sourcUserTitle</h1>
    <mat-card-content [style.display]="currentUserEntity ? 'none' : 'block'">
      <p translate>
        main.selectTargetFirstInfo
      </p>
    </mat-card-content>
    <mat-card-content [style.display]="!currentUserEntity ? 'none' : 'block'">
      <p class="cur-username" *ngIf="sourceUser" [ngPlural]="sourceUser.user_role?.length">
        <span class="uxf-icon uxf-user cur-leading-icon"></span> {{sourceUser.last_name}}, {{sourceUser.first_name}} - {{sourceUser.user_role?.length}}
        <ng-template ngPluralCase="=1">{{ 'global.role' | translate }}</ng-template>
        <ng-template ngPluralCase="other">{{ 'global.roles' | translate }}</ng-template>
      </p>
      <p class="cur-bold" *ngIf="!sourceUser" translate>
        main.searchUserInfo
      </p>

      <app-find-user [resetEventObservable$]="resetEventSubject.asObservable()"
                     (selectedUserOutput)="selectSourceUser($event)">
      </app-find-user>

    </mat-card-content>
  </mat-card>
  <!-- /source user -->
</div>

<app-loader [loading]="loading"></app-loader>
