@use '@angular/material' as mat;
@mixin main-component-theme($theme, $typography) {
  div.highlight {
    border: mat.get-theme-color($theme, primary) solid 2px;
    background-color: mat.get-theme-color($theme, primary, 70);
    padding: 5px;
    font-weight: bolder;
  }
}
