.mat-card {
  margin-bottom: 20px;
}

.cur-username {
  font-weight: bold;
  font-size: 18px;
}

.cur-bold {
  font-weight: bold;
}

.cur-full-width {
  width: 100%;
}

.cur-list-option {
  height: 40px !important;
  padding: 0px !important;
}

.cur-leading-icon {
  margin-right: 5px;
}

.cur-roles-valid {
  padding-left: 20px;
}