<h2 mat-dialog-title translate>validationDialog.title</h2>
<mat-dialog-content>
  <p translate>
    validationDialog.introText
  <p>
  <pre class="validation-message">{{data.message}}</pre>
  <p translate>
    validationDialog.errorMessageInfo
  <p>
  <p translate>
    validationDialog.outroText
  <p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="secondary" (click)="close()">
    {{'validationDialog.abortButtonLabel' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="proceed()" cdkFocusInitial>
    {{'validationDialog.proceedAnywayButtonLabel' | translate }}
  </button>
</mat-dialog-actions>
